*{
    max-width: 100%;
    margin: 0;
}

.container {
    background-color: #4CAF50;
    margin-top: 150px;
    width: 300px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }

  .input-field {
    margin-bottom: 10px;
    
  }

  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }